<div id='sidebar'>
  <div id='calendar-top-left'></div>
  <div class='friends-list'>
  {{#each friend in currentUser.friends}}
    {{friend-bar friend=friend sendMouseEnter='highlightFriend' sendMouseLeave='unHighlightFriend'}}
  {{/each}}
  </div>

</div>

<div id='calendar'>
  <div class='main-calendar'>
    <div class='clear-row'>
      <ul class="buttons">
        <li class="inline-button" {{action 'previousMonth'}}> < </li>
        <li class="inline-button" {{action 'nextMonth'}}> > </li>
        <li>{{currentMonthFormatted}}</li>
        <li class='event-detail'>
          {{highlightedEvent.name}}
          {{link-to 'event' 'events.show' highlightedEvent}}
        </li>
      </ul>
    </div>


    <ul class="calendar">

      <li class='day-header'>
        <div class="small-1 medium-1 large-1 day">
          <span>Sun</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Mon</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Tue</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Wed</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Thu</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Fri</span>
        </div>
        <div class="small-1 medium-1 large-1 day">
          <span>Sat</span>
        </div>
      </li>


        {{#each week in currentMonthObj.weeks}}
          <li class="week">
            {{#each day in week}}
              <div {{!action 'newEvent' day}} class='day large-1 :medium-1 small-1'>
                {{day.ofMonth}}
                <ul>
                  {{#each event in day.content}}
                    <span>{{event-bar event=event action="showEvent"}}</span>
                  {{/each}}
                </ul>
                {{#if day.today}}
                  <div>TODAY</div>
                {{/if}}
              </div>
            {{/each}}
          </li>
        {{/each}}
      </div>

    </ul>
  </div>
</div>



{{outlet}}
